<div class = "row">
  <div class="col-md-6">
    <h2>
      Maryland 502 Calculator
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <!-- <div class="col-md-2">
    <a style="margin-top:20px" class="btn btn-default" href="#/new/contact">New</a>
  </div> -->
  <div class="col-md-1">
  </div>
</div>
<div class="container">
	<h3>Calculate Your Maryland Income Tax</h3>
	<form class="form-horizontal">
	<div class="form-group">
	  <label class="col-sm-4 control-label" for="filingStatus">Filing Status:</label>
	  <div class="col-sm-6">
	  <select class="form-control" ng-model="form.filingStatus" ng-change="calculate(form)" id="filingStatus"
		          ng-options="filingStatus.status for filingStatus in filingStatuses"></select><br/>
	  </div> 
	</div>
	<div ng-hide="form.filingStatus.code == 2" class="form-group">
	  <label class="col-sm-4 control-label">Your Exemptions:</label>
	  <div class="col-sm-6">
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="form.yourself" ng-change="calculate(form)" id="yourself" value="true"> Yourself
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="form.you65orOver" ng-change="calculate(form)" id="you65orOver" value="true"> 65 or over
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="form.youBlind" ng-change="calculate(form)" id="youBlind" value="true"> Blind
		</label>
	  </div>
	  </label>
	</div>
	<!-- <div class="form-group">
	  <label class="col-sm-4 control-label">Dependents:</label>
	  <div class="col-sm-6">
		<label class="radio-inline">
		  <input type="radio" ng-model="form.numberOfDependents" name="numberOfDependents" id="numberOfDependents1" value="0"> No dependents
		</label>
		<label class="radio-inline">
		  <input type="radio" ng-model="form.numberOfDependents" name="numberOfDependents" id="numberOfDependents2" value="1"> One dependent
		</label>
		<label class="radio-inline">
		  <input type="radio" ng-model="form.numberOfDependents" name="numberOfDependents" id="numberOfDependents3" value="2"> Two dependents
		</label>
	  </div>
	  </label>
	</div> -->
    <div ng-hide="form.filingStatus.code == 2" class="form-group">
	  <label class="col-sm-4 control-label">Dependents:</label>
	  <div class="col-sm-2">
		  <label for="numberOfDependents">Regular
			  <select id="numberOfDependents" class="form-control" style="font-weight: normal"
					ng-model="form.numberOfDependents" ng-change="calculate(form)" ng-options="numberOfDependents for numberOfDependents in numberOfDependentChoices">
			  </select>
		  </label>
	  </div>
	  <div class="col-sm-2">
		  <label for="numberOfDependentsOver65">Over 65
			  <select id="numberOfDependents" class="form-control" style="font-weight: normal"
					ng-model="form.numberOfDependentsOver65" ng-change="calculate(form)" ng-options="numberOfDependentsOver65 for numberOfDependentsOver65 in numberOfDependentChoices">
			  </select>
		   </label>
	   </div>
    </div>
	<div ng-show="form.filingStatus.code > 2 && form.filingStatus.code < 5" class="form-group">
	  <label class="col-sm-4 control-label">Spouse's Exemptions:</label>
	  <div class="col-sm-6">
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="form.spouseSelf" ng-change="calculate(form)" id="spouseSelf" value="true"> Spouse
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="form.spouse65orOver" ng-change="calculate(form)" id="spouse65orOver" value="true"> 65 or over
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="form.spouseBlind" ng-change="calculate(form)" id="spouseBlind" value="true"> Blind
		</label>
	  </div>
	  </label>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="calculate"></label>
		  <div class="col-sm-4">
		  Total Regular Exemptions:&nbsp;{{form.totalRegularExemptions}}<br/>
		  Total Special Exemptions:&nbsp;{{form.totalSpecialExemptions}}<br/>
		  Standard Deduction:&nbsp;{{form.standardDeduction | currency }}<br/>
		  Exemption Amount:&nbsp;{{form.exemptionAmount | currency }}
		  </div>
	</div>
	<div class="form-group">
	  <label class="col-sm-4 control-label" for="subdivision">Subdivision:</label>
	  <div class="col-sm-6">
	  <select class="form-control" ng-model="form.subdivision" ng-change="calculate(form)" id="subdivision"
		          ng-options="subdivision.locality for subdivision in subdivisionChoices"></select>&nbsp;&nbsp;&nbsp;Rate:{{form.subdivision.rate}}<br/>
	  </div> 
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label" for="adjustedGrossIncome">Adjusted gross Income from 1040EZ:</label>
	  <div class="col-sm-4">
		<div class="input-group">
			<span class="input-group-addon">$</span>
			<input class="form-control" type="text" ng-model="form.adjustedGrossIncome" ng-change="calculate(form)" ui-number-mask="2" id="adjustedGrossIncome" />
		</div><br/>
			Minimum Filing Income:&nbsp;{{form.minimumFilingIncome | currency}}<br/>
			Net Taxable Income:&nbsp;{{form.netTaxableIncome | currency}}<br/>
			Bracket Rate:&nbsp;{{form.bracketRate}}%<br/>
			Maryland Tax:&nbsp;{{form.marylandTax | currency}}<br/>
			Local Tax::&nbsp;{{form.localTax | currency}}
	  </div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label" for="calculate"></label>
	  <div class="col-sm-4">
	   <!-- <div class="col-sm-offset-1 col-sm-6"> -->
		<input class="btn btn-default" type="button" value="Calculate" ng-click="calculate(form)" id="calculate"/><br/>
	<h3>Total Tax: <strong>{{form.totalTax | currency }}</strong></h3>
	   <!-- </div> -->
	  </div>
	</div>
	</form>
  <!-- <table class="table table-hover">
    <tbody>
      <tr ng-repeat="contact in contacts | orderBy:'lastName'" style="cursor:pointer">
        <td>
          <a ng-href="#/contact/{{contact._id}}">{{ contact.firstName }} {{ contact.lastName }}</a>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>