<div class = "row">
  <div class="col-md-6">
    <h2>
      Maryland 502 Calculator
    </h2>
  </div>
  <div class="col-md-6">
	  <div class="panel-group">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h4 class="panel-title">
			  <a data-toggle="collapse" data-target="#collapse1">Instructions</a>
			</h4>
		  </div>
		  <div id="collapse1" class="panel-collapse collapse">
			<div class="panel-body"><strong>!!$50 Gift Certificate!!</strong><br/>
					If you can find a verifiable bug, I will send you a $50 gift certificate for the retailer of your choice.
					Unless I have some moral objection to the retailer in question (not sure which retailers that might apply to, but
					you can never assume!) in which case you'll have to pick a different one. Of course, it has to be a gift certificate
					I can actually obtain, which might exclude a retailer who doesn't market their product in Maryland.
					Send (detailed) bug report, gift certificate, and mailing address to
					<a style="color: black" href="mailto:info@magicuser.us">info@magicuser.us</a>.
					If I don't believe your bug is valid, I will try to explain as best I can.<br/><br/>
					<i><b>NOTICE</b> I do not guarantee results - Use at your own risk!</i><br/><br/>
					This is a State Tax Calculator for Maryland Residents who would normally
					use the 1040EZ form to file their Federal Income Tax.
					If you have a lot of itemized deductions, investment income, foreign tax credits, etc. then
					you will probably not be able to use this. Though for everybody else, this should come in handy.<br/><br/>
					You might want to use <a style="color: black" href="https://www.dinkytown.net/java/TaxEZ1040.html">this</a> to
					calculate your Federal Income Taxes first.<br/></br>
					I make no guarantee regarding correctness of these calculations. I am considering asking an
					actual CPA to test it. An arguably "safe" way to use this, is to try to calculate your tax return
					on your own, then compare to what this tells you. If you get a different result, try to determine
					why — don't assume that you did it wrong.<br/><br/>
					In fact what inspired me to write this is that I did my son's income taxes and forgot about the
					fact that the minimum filing income is $10,300.00, even for a dependent taxpayer.<br/><br/>
					To use, enter your Adjusted Gross Income from the 1040EZ, then select anything else that might
					apply e.g. dependents, exemptions, etc.<br/><br/>
					If you want to save your work, click the Save button and enter a Form ID which is any sequence of
					characters that you don't think anybody else would use. If somebody else uses the same Form ID,
					your form would get overwritten. Please don't use anything that might personally identify you, such as an e-mail address,
					as a Form ID; as tax information is considered private.
					If you Save, then your saved inputs will be magically restored the next time you
					visit this site (from the same device or browser).<br/><br/>
					If you remember your Form ID, you can retrieve your work on a different computer/mobile device/browser
					by using the "Retrieve Prior Session" link at the bottom (below the Save button). You can also Save
					and Retrieve multiple forms using different Form IDs.<br/><br/>
					Happy Taxes!<br/><br/>
					Some notes:<br/><br/>
					1.) Form IDs are case-insensitive. If, for example, you use MickeyMouse as your Form ID, then mickeymouse, MICKEYMOUSE,
					and mIcKeYmOuSe will all retrieve your form. Please make an effort to pick something unique that doesn't depend on
					capitalization.<br/><br/>
					2.) The Adjusted gross Income from 1040EZ input may seem to behave strangely when used on a hand-held device, but it
					is guaranteed to allow only legitimate currency values. Just do what comes naturally. I have found this doesn't work
					properly on FireFox for Android, although I don't know who uses that. Any Chrome version should be fine. Any desktop
					or laptop should be fine (using a mouse and keyboard).
					</div>
			<div class="panel-footer">Copyright 2016 John Emmerling</div>
		  </div>
		</div>
	  </div>
	<!-- <h3><a href="">Directions</a></h3> -->
  </div>
  <!-- <div class="col-md-2">
    <a style="margin-top:20px" class="btn btn-default" href="#/new/contact">New</a>
  </div>
  <div class="col-md-1">
  </div> -->
</div>
<div class="container">
	<h3>Calculate Your Maryland Income Tax</h3>
	<form class="form-horizontal">
	<div class="form-group">
	  <label class="col-sm-4 control-label" for="filingStatus">Filing Status:</label>
	  <div class="col-sm-6">
	  <select class="form-control" ng-model="form.filingStatus" ng-change="calculate(form)" id="filingStatus"
		          ng-options="filingStatus.status for filingStatus in filingStatuses"></select><br/>
	  </div> 
	</div>
	<div ng-hide="form.filingStatus.code == 2" class="form-group">
	  <label class="col-sm-4 control-label">Your Exemptions:</label>
	  <div class="col-sm-6">
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="form.yourself" ng-change="calculate(form)" id="yourself" value="true"> Yourself
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="form.you65orOver" ng-change="calculate(form)" id="you65orOver" value="true"> 65 or over
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="form.youBlind" ng-change="calculate(form)" id="youBlind" value="true"> Blind
		</label>
	  </div>
	  </label>
	</div>
    <div ng-hide="form.filingStatus.code == 2" class="form-group">
	  <label class="col-sm-4 control-label">Dependents:</label>
	  <div class="col-sm-2">
		  <label for="numberOfDependents">Regular
			  <select id="numberOfDependents" class="form-control" style="font-weight: normal"
					ng-model="form.numberOfDependents" ng-change="calculate(form)" ng-options="numberOfDependents for numberOfDependents in numberOfDependentChoices">
			  </select>
		  </label>
	  </div>
	  <div class="col-sm-2">
		  <label for="numberOfDependentsOver65">Over 65
			  <select id="numberOfDependents" class="form-control" style="font-weight: normal"
					ng-model="form.numberOfDependentsOver65" ng-change="calculate(form)" ng-options="numberOfDependentsOver65 for numberOfDependentsOver65 in numberOfDependentChoices">
			  </select>
		   </label>
	   </div>
    </div>
	<div ng-show="form.filingStatus.code > 2 && form.filingStatus.code < 5" class="form-group">
	  <label class="col-sm-4 control-label">Spouse's Exemptions:</label>
	  <div class="col-sm-6">
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="form.spouseSelf" ng-change="calculate(form)" id="spouseSelf" value="true"> Spouse
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="form.spouse65orOver" ng-change="calculate(form)" id="spouse65orOver" value="true"> 65 or over
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="form.spouseBlind" ng-change="calculate(form)" id="spouseBlind" value="true"> Blind
		</label>
	  </div>
	  </label>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="calculate"></label>
		  <div class="col-sm-4">
		  Total Regular Exemptions:&nbsp;{{form.totalRegularExemptions}}<br/>
		  Total Special Exemptions:&nbsp;{{form.totalSpecialExemptions}}<br/>
		  Standard Deduction:&nbsp;{{form.standardDeduction | currency }}<br/>
		  Exemption Amount:&nbsp;{{form.exemptionAmount | currency }}
		  </div>
	</div>
	<div class="form-group">
	  <label class="col-sm-4 control-label" for="subdivision">Subdivision:</label>
	  <div class="col-sm-6">
	  <select class="form-control" ng-model="form.subdivision" ng-change="calculate(form)" id="subdivision"
		          ng-options="subdivision.locality for subdivision in subdivisionChoices"></select>&nbsp;&nbsp;&nbsp;Rate:{{form.subdivision.rate}}<br/>
	  </div> 
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label" for="adjustedGrossIncome">Adjusted gross Income from 1040EZ:</label>
	  <div class="col-sm-4">
		<div class="input-group">
			<span class="input-group-addon">$</span>
			<input class="form-control" type="text" ng-model="form.adjustedGrossIncome" ng-change="calculate(form)" ui-number-mask="2" id="adjustedGrossIncome" />
		</div><br/>
			Minimum Filing Income:&nbsp;{{form.minimumFilingIncome | currency}}<br/>
			Net Taxable Income:&nbsp;{{form.netTaxableIncome | currency}}<br/>
			Bracket Rate:&nbsp;{{form.bracketRate}}%<br/>
			Maryland Tax:&nbsp;{{form.marylandTax | currency}}<br/>
			Local Tax::&nbsp;{{form.localTax | currency}}
	  </div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label" for="save"></label>
	  <div class="col-sm-4">
	   <!-- <div class="col-sm-offset-1 col-sm-6"> -->
		<!-- <input class="btn btn-default" type="button" value="Calculate" ng-click="calculate(form)" id="calculate"/> -->
		<input class="btn btn-default" type="button" value="Save" ng-click="openControllerAsController()" id="save"/><br/>
	<h3>Total Tax: <strong>{{form.totalTax | currency }}</strong></h3>
	   <!-- </div> -->
	  </div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label" for="restore"></label>
	  <div class="col-sm-6">
		<h4><a href="" ng-click="openControllerAsController2()" id="restore">Restore Prior Session</a></h4>
	  </div>
	</div>
	<div class="form-group">
	  <label class="col-sm-4 control-label" for="calculate"></label>
	  <div class="col-sm-4">
		© 2016, John Emmerling
	  </div>
	</div>
	</form>
      <script type="text/ng-template" id="controllerAsDialog">
		<form class="form-horizontal">
			<p>Any random sequence of letters, numbers, etc.:</p>
			<div class="form-group">
			 <label class="col-sm-4 control-label" for="formId">Form ID </label>
			  <div class="col-sm-4">
				<input type="text" class="form-control" id="formId" ng-model="form.formId"/>
			  </div>
			</div>
			<div class="form-group">
			  <label class="col-sm-4 control-label" for="submit"></label>
			  <div class="col-sm-4">
				<input class="btn btn-default" type="button" value="Submit" ng-click="ctrl.saveForm(form)" id="submit"/>
			  </div>
			</div>
		</form>
    </script>
      <script type="text/ng-template" id="controllerAsDialog2">
		<form class="form-horizontal">
			<p>Retrieved a previously saved form:</p>
			<div class="form-group">
			 <label class="col-sm-4 control-label" for="formId">Form ID </label>
			  <div class="col-sm-4">
				<input type="text" class="form-control" id="formId" ng-model="form.formId"/>
			  </div>
			</div>
			<div class="form-group">
			  <label class="col-sm-4 control-label" for="retrieve"></label>
			  <div class="col-sm-4">
				<input class="btn btn-default" type="button" value="Retrieve" ng-click="ctrl.retrieveForm(form)" id="retrieve"/>
			  </div>
			</div>
		</form>
    </script>
</div>